.main {
    @apply text-neutral-800;
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-nunito), var(--font-notoSansTC);
}

.pageTitle {
    @apply text-neutral-700;
    @apply font-bold;
    @apply text-3xl;
}

.postList {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-8;
}
@media screen(md) {
    .postList {
        @apply grid;
        @apply grid-cols-2;
        @apply gap-8;
    }
}

.postList > .post {
    @apply border-b;
    @apply border-slate-100;
    @apply border-solid;
}

.postList > .post:nth-last-child(1) {
    @apply border-transparent;
}
@media screen(md) {
    .postList > .post:nth-last-child(2) {
        @apply border-transparent;
    }
}

.postList > .post:hover {
    @apply cursor-pointer;
}

.post > .title {
    @apply text-neutral-800;
    @apply font-bold;
    @apply text-lg;
    @apply tracking-tight;
    @apply mb-3;
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-inter);
}

.post:hover > .title {
    @apply text-neutral-500;
}

.post > .headline {
    @apply text-neutral-600;
    @apply text-base;
    @apply text-ellipsis;
    @apply line-clamp-2;
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-inter);
}

.meta {
    @apply text-neutral-300;
    @apply text-[10px];
    @apply flex;
    @apply flex-row;
    @apply justify-start;
    @apply items-center;
    @apply gap-3;
}

.meta > .author {
    @apply text-neutral-500;
    @apply text-sm;
    @apply text-ellipsis;
    @apply line-clamp-2;
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-inter);
}

.meta > .publish {
    @apply text-neutral-500;
    @apply text-sm;
    @apply text-ellipsis;
    @apply line-clamp-2;
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-inter);
}

.mdxContent {
    @apply prose;
    @apply lg:prose-xl;
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-inter);
}

.mdxContent img {
    @apply rounded-2xl;
    @apply p-1;
    @apply shadow-neutral-500;
    @apply shadow-xl;
}
